/* VARIABLES */
:root {
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #8290B1;
  --button-bg-color: #0D282F;
  --button-bg-color-hover: #135d26;
  --button-fg-color: #ffffff;
}

/* GLOBAL STYLING */

* {
  margin: 0;
  padding: 0;
  text-align: center;
  scroll-margin-top: 25vh;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  align-items: flex-end;
  background-color: var(--bg-secondary-color);
  box-shadow: 5px 5px 5px 2px #888888;
  gap: 1.2rem;
  padding: 1.2rem;
  position: sticky;
  top: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  gap: 40vh 2rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  gap: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary-color);
  color: var(--bg-primary-color);
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

/* LOCAL STYLING */

/* Header */
.logo {
  max-width: 50%;  
}

#headerNav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#headerNavList, #hamburgerNavList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

#headerNavList li, #hamburgerNavList li {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--button-bg-color);
  color: var(--button-fg-color);
  border-radius: 12%;
}

#headerNavList li:hover {
  animation: buttonHover 400ms ease-in-out 0ms normal forwards;
}

#hamburgerButton {
  display: none;
  background-color: var(--button-bg-color);
  padding: 0.5rem;
  border-radius: 22%;
}

#hamburgerButton img {
  max-width: unset;
  width: 32px;
  height: 32px;
  filter: invert();
}

#hamburgerMenu {
  background-color: var(--bg-secondary-color);
  padding: 1rem;
  display: flex;
  position: fixed;
  top: 90px;
  right: -200px;
  row-gap: 10px;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 3%;
  box-shadow: 5px 5px 5px 2px #888888;
  transition: right 300ms ease;
}


#hamburgerMenu.active {
  right: 0px;
}

#hamburgerNavList {
  flex-direction: column;
}

@keyframes buttonHover {
  to {
    scale: 120%;
    background-color: var(--button-bg-color-hover);
  }
}

/* Main */

.article {
  max-width: 80%;
}

.articleContainer {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
}

.articleText, .articleImage {
  width: 50%;
}

.articleText {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.articleText h2 {
  border-bottom: 4px dashed #000000;
  border-left: 2px dashed #000000;
  padding-bottom: 1rem;
  border-radius: 60%;
}

.articleImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #888888;
  font-style: italic;
  padding: 0.5rem;
  gap: 0.5rem;
}

.articleImage img {
  max-height: 70vh;
}

.articleImage p {
  text-align: right;
  font-size: smaller;
  width: 100%;
}

/* FOOTER */

.socials {
  display: flex;
  gap: 2rem;
}

.socials img {
  width: 32px;
  height: 32px;
}

#fakeContacts {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: fit-content;
  padding: 2rem;
  transform: translate(-50%, 250%);
  background-color: var(--bg-secondary-color);
  color: #000000;
  border: 2px solid #000000;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  display: none;
  animation: slideInContacts 600ms ease-out 0ms normal forwards;
  opacity: 0%;
}

#fakeContacts.active {
  display: flex;
}

#closeFakeContacts {
  align-self: flex-end;
  margin: -1.5rem;
}

@keyframes slideInContacts {
  to {
    transform: translate(-50%, -50%);
    opacity: 100%;
  }
}

/* MOBILE LAYOUT */
@media screen and (max-width: 431px) {
  * {
    scroll-margin-top: 30vh;
  }

  #headerNavList {
    display: none;
  }

  .logo {
    max-width: 80%;
  }

  #hamburgerButton {
    display: flex;
  }

  .articleContainer {
    flex-wrap: wrap;
  }

  .articleText, .articleImage {
    width: 100%;
  }
} 